# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
basics/build
basics/client/bin
basics/client/build
basics/client/src/main/resources
basics/server/bin
basics/server/build
basics/server/src/main/resources
basics/cryptolib/build
basics/KeysAndCerts/generated
mqv/build
mqv/cryptolib/build
mqv/alice/build
mqv/bob/build
mqv/eve/build
merkle/build
merkle/merklelib/build
